html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
}

.hide {
	visibility: hidden;
}

div {
}

#ui {
	display: inline-block;
	width: 1200px;
	overflow: hidden;
}

.userDiv {
	float: left;
	padding: 20px;
	margin-top: -80px;
	text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    display: inline-block;
    width: 300px;
}

/* add @media for mobile screens */
#map-canvas {
	float: left;
	width: 500px;
	height: 500px;
	margin: 10px auto 0 auto;
	border: 2px solid black;
}

h1 {
	font-size: 45px;
}

h2 {
	margin-bottom: -10px;
	text-align: center;
	font-size: 35px;
}

span {
	font-size: 30px;
}

.venueType {
	margin-left: 10px;
}

#locationError {
	border: 1px solid black;
	font-size: 25px;
	color: red;
	padding: 3px;
}

input {
	padding: 5px;
}

.input {
	font-size: 15px;
	width: 80px;
}

.sendUserData {
	font-size: 20px;
	width: 150px;
	margin-left: 80px;
}