html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
}

/* add @media for mobile screens */
div #map-canvas {
  width: 500px;
  height: 500px;
}

h1 {
	font-size: 45px;
}

span {
	font-size: 30px;
}

#locationError {
	border: 1px solid black;
	font-size: 25px;
	color: red;
	padding: 3px;
}