###OSX###

.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

###Node###

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

# Dependency directory
node_modules

# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Users Environment Variables
.lock-wscript

# Azure
azure.err
iisnode.yml

# API Key
api_key.js